/* Google Font link */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* General */
* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
/* Body */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Header */
header {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 367.68px; */
  /* width: 100%; */
  width: 100%;
}
#logo-sportit {
  height: 25px;
  width: 107.68px;
}
nav > ul,
nav > button {
  display: none;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Padel section */
.padel-content {
  display: flex;
  flex-direction: column;
  height: 840px;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}
.padel-img-content {
  width: 100%;
  height: 341px;
  background-image: url(/imagenes/padel-intro.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.padel-text-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
h1 {
  font-weight: 700;
  font-size: 50px;
  text-align: right;
  color: #232c50;
  width: 100%;
}
#padel-text {
  font-size: 16.56px;
  font-weight: 500;
  text-align: right;
  width: 100%;
}
.contact-button {
  background-color: #8b48bf;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 7px 0px #00000040;
  color: #ffffff;
  font-size: 13.18px;
  font-weight: 500;
  height: 44px;
  padding: 10px;
  width: 134px;
}

/* Differencies section*/
.differences-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #3cddf3;
  height: 306px;
}
.differences-title {
  color: white;
  font-weight: 700;
  font-size: 36px;
  padding: 20px;
}
.differences-text-movil,
.differences-text-media {
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
}
.differences-text-movil {
  display: block;
}
.differences-text-media {
  display: none;
}

/* Group-Differences section*/
.group-differences-main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 682px;
  justify-content: space-around;
}
.group-differences-content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 214px;
  justify-content: space-between;
  align-content: center;
}
.number-and-title-content {
  display: flex;
  flex-direction: row;
  height: 43px;
  background: rgba(139, 72, 191, 0.3);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  align-items: flex-start;
  line-height: 43px;
}
.differences-buttom {
  background-color: #8b48bf;
  color: white;
  width: 69px;
  border-radius: 30px;
  height: 100%;
  text-align: center;
}
.group-differences-title {
  width: 100%;
  height: 100%;
  text-align: left;
  font-weight: 700;
  padding-left: 10px;
}
.group-differences-text {
  font-size: 16.3px;
  font-weight: 500;
  color: rgba(179, 178, 183, 1);
  text-align: start;
}

/* Best of the month section*/
.best-of-the-month-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

.best-month-title {
  color: #242e53;
  font-size: 39.21px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
}

.best-month-card-wrapper > article:nth-child(odd) {
  display: none;
}

.best-month-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 100%;
}
.best-month-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-bottom: 220px;
  z-index: 2;
}

.best-month-avatar > img {
  height: 70px;
  width: 70px;
}

.best-month-content {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  flex-direction: column;
  height: 219px;
  justify-content: flex-end;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  width: 100%;
}

.best-month-name {
  color: #3f4868;
  font-size: 16.07px;
  font-weight: 700;
  padding-bottom: 15px;
}

.best-month-description {
  color: #b9b9c1;
  font-weight: 500;
  line-height: 25.06px;
  text-align: center;
}

.best-button-container {
  display: flex;
  justify-content: center;
  padding: 40px 15px 80px 15px;
}

.more-button {
  background-color: #8b48bf;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 13.18px;
  font-weight: 500;
  height: 44px;
  width: 134px;
}

.more-button:hover {
  background-color: #8b48bfb2;
  cursor: pointer;
}

/* Get to know the best team section */
#get-to-know-container {
  background-color: #3cddf3;
  display: flex;
  flex-direction: column;
  height: 366px;
  align-items: center;
  justify-content: center;
  padding: 30px 60px 30px 60px;
}

.get-to-know-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 47.84px;
  margin-bottom: 40px;
}

.get-to-know-btn {
  background-color: #232c50;
  box-shadow: 0px 4px 8px 0px #00000040;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 13.18px;
  font-weight: 500;
  height: 44px;
  width: 134px;
}

.get-to-know-btn:hover {
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  background-color: #1e1e26;
  flex-direction: column-reverse;
  height: 534.71px;
  justify-content: space-evenly;
}

.icon-logo-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  width: 100%;
}

.icon-logo-wrapper::before {
  content: "Copyright 2020. All Rights Reserved";
  color: #8c8c94;
  font-size: 12.5px;
  font-weight: 500;
  text-align: center;
}

#footer-logo-container {
  display: flex;
  justify-content: center;
}

#footer-logo-container > img {
  fill: #ffffff;
}

.footer-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  height: 161.14px;
  justify-content: flex-start;
  padding: 10px 10px;
  width: 344px;
}

.footer-list > li {
  color: #ffffff;
  font-weight: 400;
}

form {
  display: flex;
  gap: 10px;
}

.update-input {
  border: none;
  border-radius: 50px;
  color: #a0a0a0;
  font-size: 13.18px;
  font-weight: 600;
  height: 44px;
  padding: 10px 20px;
  width: 308px;
}

.footer-submit-btn {
  background-color: #8b48bf;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 13.18px;
  font-weight: 500;
  height: 42px;
  padding: 10px;
  width: 63px;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.footer-copyright {
  display: none;
}

/* Desktop responsive */
@media (min-width: 480px) {
  /* Header */
  nav > button {
    display: block;
  }

  #icon-hamburger {
    display: none;
  }

  .header-content {
    justify-content: space-around;
    width: 100%;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 300px;
    width: 397px;
  }

  nav > ul > li {
    font-size: 13px;
    font-weight: 500;
  }

  nav > ul > li:hover {
    cursor: pointer;
    color: rgba(36, 46, 82, 0.6);
  }
  .contact-button {
    background-color: #8b48bf;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px #00000040;
    color: #ffffff;
    font-size: 13.18px;
    font-weight: 500;
    height: 44px;
    padding: 10px;
    width: 134px;
  }

  /* Padel  */
  .padel-content {
    display: flex;
    flex-direction: row;
    height: 461px;
    width: 100%;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
  }
  .padel-img-content {
    width: 50%;
  }

  .padel-text-content {
    height: 100%;
    width: 50%;
    padding-left: 70px;
    padding-right: 70px;
  }

  h1,
  #padel-text,
  .contact-button {
    padding-bottom: 15px;
  }

  /* Differencies */
  .differences-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8b48bf;
    height: 168px;
    width: 100%;
  }
  .title-content {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .different-text-contet {
    width: 50%;
  }
  .differences-title {
    width: 80%;
  }

  .differences-text-movil {
    display: none;
    width: 80%;
  }
  .differences-text-media {
    display: block;
    width: 70%;
  }

  /* Group-Differences */
  .group-differences-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 428px;
    justify-content: space-between;
  }
  .contenedor-group1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contenedor-group2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .group-differences-content {
    margin: 0;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    width: 530px;
  }
  .number-and-title-content {
    background: white;
  }

  /* Best of the month */
  .best-of-the-month-container {
    padding: 80px 30px 80px 30px;
    /* width: 100%; */
  }

  .best-month-card-wrapper > article:nth-child(n) {
    display: flex;
  }

  .best-month-card-wrapper {
    display: flex;
    justify-content: center;
  }

  .best-month-card {
    width: 445px;
  }

  /* Get to know the best team section */
  #get-to-know-container {
    background-color: #8b48bf;
    flex-direction: row;
    height: 224px;
    align-items: center;
    justify-content: space-around;
  }

  .get-to-know-btn {
    background-color: #ffffff;
    color: #8b48bf;
  }

  /* Footer */
  footer {
    flex-direction: row;
    height: 247px;
    justify-content: space-evenly;
    width: 100%;
  }

  .icon-logo-wrapper::before {
    display: none;
  }

  .icon-logo-wrapper {
    flex-direction: column;
    gap: 90px;
    justify-content: flex-start;
    width: auto;
  }

  .footer-icons-container {
    justify-content: center;
    gap: 15px;
  }

  #footer-logo-container {
    justify-content: flex-start;
  }

  .footer-list {
    align-content: space-between;
    width: 392.73px;
  }

  .form-container {
    flex-direction: column;
    align-items: space-around;
    height: 100%;
    justify-content: space-around;
  }

  .footer-copyright {
    display: block;
    color: #8c8c94;
    font-size: 12.5px;
    font-weight: 500;
    text-align: right;
  }
}
